$font-color: #333;
$link-color: $font-color;

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5rem;
  color: $font-color;
}
.header {
  padding-bottom: 1rem;
  text-align: center;
  h1 {
    margin-bottom: 0;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: $font-color;
    }
  }
  ul {
    margin-top: 0;
    padding: 0;
    li {
      display: inline;
      padding-right: .5rem;
      a {
        text-decoration: none;
        color: #666;
      }
    }
  }
}
.container {
  padding: 0 1rem;
  margin: auto;
  max-width: 620px;
}
.postTitle h1, h5 {
  margin: 0;
}

.post {
  padding-bottom: 2rem;
  h1 {
    margin: 0;
    padding-bottom: 1rem;
    line-height: 2rem;
  }
  h5 {
    margin: 0;
  }
  a {
    color: $link-color;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
.post:last-of-type {
  padding-bottom: 0;
}
.main {
  h1 {
    margin: 0;
    line-height: 2rem;
  }
  img {
    max-width: 100%;
    margin: auto;
  }
  .paginator {
    position: relative;
    .prev {
      position: absolute;
      left: 0;
    }
    .next {
      position: absolute;
      right: 0;
    }
  }
}
.footer {
  padding: 3rem 0 2rem;
  .bottomLinks {
    text-align: center;
  }
  .bottomLink {
    margin-right: 2rem;
  }
  .bottomLink:last-of-type {
    margin-right: 0;
  }
  .socialImg {
    background-size: contain;
    width: 3rem;
    height: 2rem;
    display: inline-block;
  }
  .socialImg.twitter {
    background: url('/img/twitter.svg') no-repeat top left;
  }
  .socialImg.github {
    background: url('/img/github.svg') no-repeat top left;
  }
}

code {
  background: #ddd;
  padding: .1em .2em;
}

@import "pygments-friendly";

.highlight {
  background: #f0f0f0;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 0.75rem;
  line-height: 1rem;
  pre {
    margin: 0;
    padding: 0.5em 1em;
  }
  code {
    background: initial;
    padding: initial;
  }
  .err {
    border: none;
  }
}
