{{ partial "header.html" . }}
  {{ range sort .Paginator.Pages }}
    {{- if eq .Type "post" }}
      <div class="post">
        <h5>{{ .Date.Format "January 2, 2006" }}</h5>
        <h1>
          <a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}
        </h1>
        <div>
          {{ .Summary | plainify | safeHTML }}
          {{ if .Truncated }}
          <a href="{{ .Permalink }}">Read more ></a>
          {{ end }}
        </div>
      </div>
    {{ end }}
  {{ end }}
{{ partial "footer.html" . -}}
